---
---
<div class="giscus-container w-full mt-16 pt-16 border-t border-white/5">
  <h3 class="font-mono text-sm mb-8 uppercase text-[#F2F2F2]/50">Guestbook Log</h3>
  <script is:inline src="https://giscus.app/client.js"
    data-repo="adityaarchsystems/adityaarchsystems.github.io"
    data-repo-id="R_kgDONXz_uw"
    data-category="Announcements"
    data-category-id="DIC_kwDONXz_u84CkyxQ"
    data-mapping="pathname"
    data-strict="1"
    data-reactions-enabled="0"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="dark"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>
</div>
